{{page-title "Service"}}
<div class="w-3/4">
	<div class="flex bg-gray-100 rounded mb-5 p-2" data-test-sign-in>
		<p>Already a client,
			<a href="#">Sign In</a>
		</p>
	</div>
	<div>
		{{#each this.model as |service| }}
			<div class="border border-slate-200 flex justify-between mb-5 p-6 rounded" data-test-service-item>
				<div>
					<p class="text-xl">{{service.description}}</p>
					<p class="text-slate-500">{{service.duration}} minutes</p>
				</div>
				<button class="bg-green-700 font-bold px-4 rounded text-white uppercase" {{on "click" this.onLocationSelect}} type="button">Select</button>
			</div>
		{{/each}}
	</div>
</div>